.font-title{
    font-family: 'Nunito Sans', sans-serif;
    font-size:13px;
  }

  .font-text{
    font-family: 'Nunito Sans', sans-serif;
    font-size:13px;
  }

  .font-main-title{

    font-size:20px;

  }