#intro {
    background: rgb(56,224,251);
    background: radial-gradient(circle, rgba(56,224,251,1) 0%, rgba(185,95,249,1) 100%);
    height: 100vh;
  }

.fontytle{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;

}